@import "../../sass/variables.scss";
.logo{
  max-height: 150px;
  max-width: 150px;
}

.section1__container {
  display: flex;
  justify-content: space-between;
  margin-top: 350px;
}
.text__container {
  width: 500px;
  margin: 1em 0em 0em 250px;
  p {
    color: $black;
    margin-bottom: 30px;
  }
}
.section1__title {
  color: $primaryColor;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 400px;
  margin: 30px 0px 50px 0px;
}

.couple__image {
  text-align: right;
}

.section2__container {
  display: flex;
  justify-content: space-between;
  margin: 5em 250px 90px 250px;
  .image {
    margin-bottom: 20px;
  }
  p {
    color: $black;
  }
  .text__primary {
    color: $primaryColor;
    margin-bottom: 40px;
  }
  .text__secondary {
    color: $primaryColor;
    margin-bottom: 40px;
  }
  .buttons__container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
}
.section3 {
  hr {
    width: 80%;
    margin: 50px auto;
  }
}
.section3__container {
  background-color: $greyBackground;
  margin-top: 50px;
  padding: 50px 0px;
  text-align: center;
  .text__primary {
    color: $primaryColor;
    margin-top: 30px;
    font-size: 2rem;
  }
}
.somos__text {
  margin: 50px auto;
  width: 80%;
  text-align: center;
  word-wrap: break-word;
  img{
    width: auto;
    height: auto;
    margin: 1.5rem;
    vertical-align: middle;
    @media (max-width: 412px) {
    margin: auto;
    padding-block: 1.5rem;
    display: flex;
    }
  }
}

.benefits--mobile {
  display: none;
}

@media (max-width: 1441px) {
  .text__container {
    margin: 1em 0em 0em 100px;
  }
  .section2__container {
    margin: 5em 180px 90px 180px;
  }
}
@media (max-width: 1025px) {
  .text__container {
    margin: 1em 0em 0em 50px;
  }
  .section2__container {
    margin: 5em 0px 0em 50px;
  }
}

@media (max-width: 769px) {
  .text__container {
    width: 500px;
    margin: 1em 0em 0em 0em;
    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: $black;
      margin-bottom: 30px;
    }
  }
  .section1__container {
    margin-top: 0px;
    flex-direction: column;
  }
  .couple__image {
    text-align: center;
    margin: 30px 0px 50px 0px;
  }
  .text__container {
    width: 100%;
    text-align: center;
  }
  .section1__title {
    width: 100%;
    margin: 50px 0px 50px 0px;
  }
  .benefits--desktop {
    display: none;
  }
  .benefits--mobile {
    display: block;
    position: relative;
    .step__title {
      display: flex;
      justify-content: center;
    }
    img {
      margin-right: 10px;
    }
    p {
      width: 80%;
      margin: 0px auto;
    }
  }
  // ==============section 2======================

  .section2__container {
    margin: 5em 0px 5em 0px;
    flex-direction: column-reverse;
    .image {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .text__primary,
  .text__secondary {
    text-align: center;
  }
  .buttons__container {
    width: 65%;
    margin: 0px auto;
  }
  // ============================================
  .somos__text {
    width: 90%;
    margin: 50px auto;
  }
}
@media (max-width: 576px) {
  .section1__title {
    margin-top: 210px;
  }
}

@media (max-width: 426px) {
  .section1__title {
    margin-top: 150px;
    width: 80%;
    display: inline-block;
    font-size: 32px;
  }
  .couple__image {
    margin: 30px 60px 50px 60px;
    display: none;
  }
  .section2__container {
    .image {
      margin: 0px 60px 20px 60px;
    }
  }
}
@media (max-width: 376px) {
  .section2__container {
    .buttons__container {
      width: 80%;
    }
  }
}
@media (max-width: 320px) {
  .section1__container,
  .section3__container {
    margin: 0px 10px 0px 10px;
  }
  .section1__title {
    margin-top: 150px;
    }
}
