.black__overlay {
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 1s ease;
  border-radius: 50%;
  background-color: transparent;
  width: 0px;
  height: 0px;
  .loading__spinner{
    display: none;
  }
}

.black__overlay--expanded {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 1s ease;
  border-radius: 50%;
  background-color: black;
  z-index: 1000;
  width: 2000px;
  height: 1000px;
  padding-bottom: 1000px;

}

.cargando__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 105%;
  height: 105vh;
  margin: -10px;
  z-index: 2000;
  text-align: center;
  img {
    position: absolute;
    top: 900px;
    left: 50%;
    transform: translate(-50%);
  }
  h2 {
    color: #00fbcd;
    margin-bottom: 50px;
    font-size: 2.2rem;
    position: absolute;
    top: 1100px;
    left: 50%;
    transform: translate(-50%);
  }
  h3 {
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    width: 50%;
    position: absolute;
    top: 1200px;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 769px) {
  .cargando__container {
    h2 {
      font-size: 20px;
      word-wrap: break-word;
      top: 950px;
      width: 20%;
    }
    h3 {
      top: 1100px;
      font-size: 20px;
      word-wrap: break-word;
      width: 290px;
    }
  }
}
@media (max-width: 581px) {
  .cargando__container {
    h2 {
      font-size: 20px;
      top: 950px;
      width: 20%;
    }
    h3 {
      top: 1100px;
      font-size: 20px;
      word-wrap: break-word;
      width: 240px;
    }
  }
}
@media (max-width: 376px) {
  .cargando__container {
    h3 {
      font-size: 16px;
      word-wrap: break-word;
    }
  }
}
@media (max-width: 320px) {
  .cargando__container {
    img {
      top: 800px;
    }
    h2 {
      width: 310px;
      top: 890px;
      word-wrap: break-word;
    }
    h3 {
      font-size: 15px;
      font-weight: 100;
      word-wrap: break-word;
    }
  }
}
