@import "../../sass/variables.scss";

.sellform__container {
  position: relative;
  perspective: 1000px;
}
.sellform__card {
  position: absolute;
  top: -100px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 40px 65px 40px 65px;
  width: 650px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-around;
}
.fields--mobile {
  display: none;
}
.fields--desktop {
  display: block;
}
.division__container {
  p {
    font-size: 15px;
    margin-left: -4px;
    margin-bottom: 2px;
  }
}
.sellform__division {
  display: block;
  width: 20px;
  height: 60px;
  border-left: 1px solid $grey;
}
.form__row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}
.patente__input {
  width: 240px;
  border-radius: 0px;
}
.buscar__button {
  button {
    transform: translate3d(0px, 8px, 0px);
  }
  margin-top: 25px;
  .patente::before {
    content: "\00a0";
  }
}
.submit__button {
  margin-top: 50px;
  text-align: center;
}
.personal-data__form {
  .form__row {
    display: flex;
    justify-content: flex-start;
  }
  .buttons__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.personal-data__form-item{
  width: 100%;
  margin-left: 10px;
  input{
    width: 95%
  }
}
.terms {
  font-size: 12px;
  margin: 30px 0px;
}

.kms__input{
  width: 150px;
  margin-right: 20px;
  margin-left: 10px;
}
@media (max-width: 769px) {
  .sellform__card {
    width: 60vw;
    top: -320px;
    flex-direction: column;
    padding: 40px 20px;
  }
  .personal-data__form-item{
    margin-left: 0px;
    margin-right: 10px;
  }
  .submit__button {
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: center;
  }
  .patente__form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .patente__input {
    width: 200px;
  }
  .division__container {
    display: flex;
    margin-top: 20px;
    p {
      margin: 20px 10px 0px 10px;
    }
  }
  .sellform__division {
    border-top: 1px solid $grey;
    border-left: none;
    height: 0px;
    width: 90%;
    margin: 30px 0px 30px 0px;
  }
}
@media (max-width: 690px){
  .patente {
    display: none !important;
  }
}
@media (max-width: 566px) {
  .fields--mobile {
    display: block;
  }
  .fields--desktop {
    display: none;
  }
  .sellform__card {
    width: 80vw;
    top: -320px;
    padding: 40px 20px;
  }
  .patente__input {
    width: 150px;
  }
  .kms__input{
    width: 80%;
    margin-left: 20px;
  }
  .hide__responsive {
    display: none;
  }
}

@media (max-width: 376px) {
  .kms__input{
    width: 90%;
    margin-left: 20px;
  }
  .sellform__card {
    input {
      width: 120px;
    }
  }
}
@media (max-width: 320px) {
  .sellform__card {
    width: 95vw;
    top: -300px;
    padding: 40px 10px;
    box-sizing: border-box;
  }
}

/* Checkbox Style */
.checkbox {
  margin: 20px 0px;
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: none;
  vertical-align: baseline;
  font-style: normal;
  min-height: 17px;
  font-size: 1rem;
  line-height: 17px;
  min-width: 17px;
}

/* HTML Checkbox */
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0 !important;
  outline: none;
  z-index: 3;
  width: 17px;
  height: 17px;
}

/*--------------
      Box
---------------*/

.checkbox .box,
.checkbox label {
  cursor: auto;
  position: relative;
  display: block;
  padding-left: 1.85714em;
  outline: none;
  font-size: 1em;
}
.checkbox .box:before,
.checkbox label:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  content: '';
  background: #FFFFFF;
  border-radius: 0.21428571rem;
  -webkit-transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
  border: 1px solid #D4D4D5;
}

/*--------------
    Checkmark
---------------*/

.checkbox .box:after,
.checkbox label:after {
  position: absolute;
  font-size: 14px;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  text-align: center;
  opacity: 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
}

/*--------------
      Label
---------------*/


/* Inside */
.checkbox label,
.checkbox + label {
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

/* Outside */
.checkbox + label {
  vertical-align: middle;
}


/*******************************
           States
*******************************/


/*--------------
      Hover
---------------*/

.checkbox .box:hover::before,
.checkbox label:hover::before {
  background: #FFFFFF;
  border-color: rgba(34, 36, 38, 0.35);
}
.checkbox label:hover,
.checkbox + label:hover {
  color: rgba(0, 0, 0, 0.8);
}

/*--------------
      Down
---------------*/

.checkbox .box:active::before,
.checkbox label:active::before {
  background: #F9FAFB;
  border-color: rgba(34, 36, 38, 0.35);
}
.checkbox .box:active::after,
.checkbox label:active::after {
  color: rgba(0, 0, 0, 0.95);
}
.checkbox input:active ~ label {
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
     Focus
---------------*/

.checkbox input:focus ~ .box:before,
.checkbox input:focus ~ label:before {
  background: #FFFFFF;
  border-color: #96C8DA;
}
.checkbox input:focus ~ .box:after,
.checkbox input:focus ~ label:after {
  color: rgba(0, 0, 0, 0.95);
}
.checkbox input:focus ~ label {
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
     Active
---------------*/

.checkbox input:checked ~ .box:before,
.checkbox input:checked ~ label:before {
  background: #FFFFFF;
  border-color: rgba(34, 36, 38, 0.35);
}
.checkbox input:checked ~ .box:after,
.checkbox input:checked ~ label:after {
  opacity: 1;
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
  Indeterminate
---------------*/

.checkbox input:not([type=radio]):indeterminate ~ .box:before,
.checkbox input:not([type=radio]):indeterminate ~ label:before {
  background: #FFFFFF;
  border-color: rgba(34, 36, 38, 0.35);
}
.checkbox input:not([type=radio]):indeterminate ~ .box:after,
.checkbox input:not([type=radio]):indeterminate ~ label:after {
  opacity: 1;
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
  Active Focus
---------------*/

.checkbox input:not([type=radio]):indeterminate:focus ~ .box:before,
.checkbox input:not([type=radio]):indeterminate:focus ~ label:before,
.checkbox input:checked:focus ~ .box:before,
.checkbox input:checked:focus ~ label:before {
  background: #FFFFFF;
  border-color: #96C8DA;
}
.checkbox input:not([type=radio]):indeterminate:focus ~ .box:after,
.checkbox input:not([type=radio]):indeterminate:focus ~ label:after,
.checkbox input:checked:focus ~ .box:after,
.checkbox input:checked:focus ~ label:after {
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
    Read-Only
---------------*/

.read-only.checkbox,
.read-only.checkbox label {
  cursor: default;
}

/*--------------
     Disabled
---------------*/

.disabled.checkbox .box:after,
.disabled.checkbox label,
.checkbox input[disabled] ~ .box:after,
.checkbox input[disabled] ~ label {
  cursor: default !important;
  opacity: 0.5;
  color: #000000;
}

/*--------------
     Hidden
---------------*/


/* Initialized checkbox moves input below element
 to prevent manually triggering */
.checkbox input.hidden {
  z-index: -1;
}

/* Selectable Label */
.checkbox input.hidden + label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/*******************************
             Types
*******************************/


/*--------------
     Radio
---------------*/

.radio.checkbox {
  min-height: 15px;
}
.radio.checkbox .box,
.radio.checkbox label {
  padding-left: 1.85714em;
}

/* Box */
.radio.checkbox .box:before,
.radio.checkbox label:before {
  content: '';
  -webkit-transform: none;
          transform: none;
  width: 15px;
  height: 15px;
  border-radius: 500rem;
  top: 1px;
  left: 0px;
}

/* Bullet */
.radio.checkbox .box:after,
.radio.checkbox label:after {
  border: none;
  content: '' !important;
  width: 15px;
  height: 15px;
  line-height: 15px;
}

/* Radio Checkbox */
.radio.checkbox .box:after,
.radio.checkbox label:after {
  top: 1px;
  left: 0px;
  width: 15px;
  height: 15px;
  border-radius: 500rem;
  -webkit-transform: scale(0.46666667);
          transform: scale(0.46666667);
  background-color: rgba(0, 0, 0, 0.87);
}

/* Focus */
.radio.checkbox input:focus ~ .box:before,
.radio.checkbox input:focus ~ label:before {
  background-color: #FFFFFF;
}
.radio.checkbox input:focus ~ .box:after,
.radio.checkbox input:focus ~ label:after {
  background-color: rgba(0, 0, 0, 0.95);
}

/* Indeterminate */
.radio.checkbox input:indeterminate ~ .box:after,
.radio.checkbox input:indeterminate ~ label:after {
  opacity: 0;
}

/* Active */
.radio.checkbox input:checked ~ .box:before,
.radio.checkbox input:checked ~ label:before {
  background-color: #FFFFFF;
}
.radio.checkbox input:checked ~ .box:after,
.radio.checkbox input:checked ~ label:after {
  background-color: rgba(0, 0, 0, 0.95);
}

/* Active Focus */
.radio.checkbox input:focus:checked ~ .box:before,
.radio.checkbox input:focus:checked ~ label:before {
  background-color: #FFFFFF;
}
.radio.checkbox input:focus:checked ~ .box:after,
.radio.checkbox input:focus:checked ~ label:after {
  background-color: rgba(0, 0, 0, 0.95);
}

/*--------------
     Slider
---------------*/

.slider.checkbox {
  min-height: 1.25rem;
}

/* Input */
.slider.checkbox input {
  width: 3.5rem;
  height: 1.25rem;
}

/* Label */
.slider.checkbox .box,
.slider.checkbox label {
  padding-left: 4.5rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.4);
}

/* Line */
.slider.checkbox .box:before,
.slider.checkbox label:before {
  display: block;
  position: absolute;
  content: '';
  border: none !important;
  left: 0em;
  z-index: 1;
  top: 0.4rem;
  background-color: rgba(0, 0, 0, 0.05);
  width: 3.5rem;
  height: 0.21428571rem;
  -webkit-transform: none;
          transform: none;
  border-radius: 500rem;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

/* Handle */
.slider.checkbox .box:after,
.slider.checkbox label:after {
  background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
  background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
          box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.25rem;
  left: 0em;
  -webkit-transform: none;
          transform: none;
  border-radius: 500rem;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

/* Focus */
.slider.checkbox input:focus ~ .box:before,
.slider.checkbox input:focus ~ label:before {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

/* Hover */
.slider.checkbox .box:hover,
.slider.checkbox label:hover {
  color: rgba(0, 0, 0, 0.8);
}
.slider.checkbox .box:hover::before,
.slider.checkbox label:hover::before {
  background: rgba(0, 0, 0, 0.15);
}

/* Active */
.slider.checkbox input:checked ~ .box,
.slider.checkbox input:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.slider.checkbox input:checked ~ .box:before,
.slider.checkbox input:checked ~ label:before {
  background-color: #545454 !important;
}
.slider.checkbox input:checked ~ .box:after,
.slider.checkbox input:checked ~ label:after {
  left: 2rem;
}

/* Active Focus */
.slider.checkbox input:focus:checked ~ .box,
.slider.checkbox input:focus:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.slider.checkbox input:focus:checked ~ .box:before,
.slider.checkbox input:focus:checked ~ label:before {
  background-color: #000000 !important;
}

/*--------------
     Toggle
---------------*/

.toggle.checkbox {
  min-height: 1.5rem;
}

/* Input */
.toggle.checkbox input {
  width: 3.5rem;
  height: 1.5rem;
}

/* Label */
.toggle.checkbox .box,
.toggle.checkbox label {
  min-height: 1.5rem;
  padding-left: 4.5rem;
  color: rgba(0, 0, 0, 0.87);
}
.toggle.checkbox label {
  padding-top: 0.15em;
}

/* Switch */
.toggle.checkbox .box:before,
.toggle.checkbox label:before {
  display: block;
  position: absolute;
  content: '';
  z-index: 1;
  -webkit-transform: none;
          transform: none;
  border: none;
  top: 0rem;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;
}

/* Handle */
.toggle.checkbox .box:after,
.toggle.checkbox label:after {
  background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
  background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
          box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
  width: 1.5rem;
  height: 1.5rem;
  top: 0rem;
  left: 0em;
  border-radius: 500rem;
  -webkit-transition: background 0.3s ease, left 0.3s ease;
  transition: background 0.3s ease, left 0.3s ease;
}
.toggle.checkbox input ~ .box:after,
.toggle.checkbox input ~ label:after {
  left: -0.05rem;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
          box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
}

/* Focus */
.toggle.checkbox input:focus ~ .box:before,
.toggle.checkbox input:focus ~ label:before {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

/* Hover */
.toggle.checkbox .box:hover::before,
.toggle.checkbox label:hover::before {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

/* Active */
.toggle.checkbox input:checked ~ .box,
.toggle.checkbox input:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.toggle.checkbox input:checked ~ .box:before,
.toggle.checkbox input:checked ~ label:before {
  background-color: #2185D0 !important;
}
.toggle.checkbox input:checked ~ .box:after,
.toggle.checkbox input:checked ~ label:after {
  left: 2.15rem;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
          box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
}

/* Active Focus */
.toggle.checkbox input:focus:checked ~ .box,
.toggle.checkbox input:focus:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.toggle.checkbox input:focus:checked ~ .box:before,
.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #0d71bb !important;
}


/*******************************
            Variations
*******************************/


/*--------------
     Fitted
---------------*/

.fitted.checkbox .box,
.fitted.checkbox label {
  padding-left: 0em !important;
}
.fitted.toggle.checkbox,
.fitted.toggle.checkbox {
  width: 3.5rem;
}
.fitted.slider.checkbox,
.fitted.slider.checkbox {
  width: 3.5rem;
}


/*******************************
         Theme Overrides
*******************************/

@font-face {
  font-family: 'Checkbox';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBD8AAAC8AAAAYGNtYXAYVtCJAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5Zn4huwUAAAF4AAABYGhlYWQGPe1ZAAAC2AAAADZoaGVhB30DyAAAAxAAAAAkaG10eBBKAEUAAAM0AAAAHGxvY2EAmgESAAADUAAAABBtYXhwAAkALwAAA2AAAAAgbmFtZSC8IugAAAOAAAABknBvc3QAAwAAAAAFFAAAACAAAwMTAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADoAgPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6AL//f//AAAAAAAg6AD//f//AAH/4xgEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAEUAUQO7AvgAGgAAARQHAQYjIicBJjU0PwE2MzIfAQE2MzIfARYVA7sQ/hQQFhcQ/uMQEE4QFxcQqAF2EBcXEE4QAnMWEP4UEBABHRAXFhBOEBCoAXcQEE4QFwAAAAABAAABbgMlAkkAFAAAARUUBwYjISInJj0BNDc2MyEyFxYVAyUQEBf9SRcQEBAQFwK3FxAQAhJtFxAQEBAXbRcQEBAQFwAAAAABAAAASQMlA24ALAAAARUUBwYrARUUBwYrASInJj0BIyInJj0BNDc2OwE1NDc2OwEyFxYdATMyFxYVAyUQEBfuEBAXbhYQEO4XEBAQEBfuEBAWbhcQEO4XEBACEm0XEBDuFxAQEBAX7hAQF20XEBDuFxAQEBAX7hAQFwAAAQAAAAIAAHRSzT9fDzz1AAsEAAAAAADRsdR3AAAAANGx1HcAAAAAA7sDbgAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAADuwABAAAAAAAAAAAAAAAAAAAABwQAAAAAAAAAAAAAAAIAAAAEAABFAyUAAAMlAAAAAAAAAAoAFAAeAE4AcgCwAAEAAAAHAC0AAQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAIAAAAAQAAAAAAAgAHAGkAAQAAAAAAAwAIADkAAQAAAAAABAAIAH4AAQAAAAAABQALABgAAQAAAAAABgAIAFEAAQAAAAAACgAaAJYAAwABBAkAAQAQAAgAAwABBAkAAgAOAHAAAwABBAkAAwAQAEEAAwABBAkABAAQAIYAAwABBAkABQAWACMAAwABBAkABgAQAFkAAwABBAkACgA0ALBDaGVja2JveABDAGgAZQBjAGsAYgBvAHhWZXJzaW9uIDIuMABWAGUAcgBzAGkAbwBuACAAMgAuADBDaGVja2JveABDAGgAZQBjAGsAYgBvAHhDaGVja2JveABDAGgAZQBjAGsAYgBvAHhSZWd1bGFyAFIAZQBnAHUAbABhAHJDaGVja2JveABDAGgAZQBjAGsAYgBvAHhGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('truetype');
}

/* Checkmark */
.checkbox label:after,
.checkbox .box:after {
  font-family: 'Checkbox';
}

/* Checked */
.checkbox input:checked ~ .box:after,
.checkbox input:checked ~ label:after {
  content: '\e800';
}

/* Indeterminate */
.checkbox input:indeterminate ~ .box:after,
.checkbox input:indeterminate ~ label:after {
  font-size: 12px;
  content: '\e801';
}
/*  UTF Reference
.check:before { content: '\e800'; }
.dash:before  { content: '\e801'; }
.plus:before { content: '\e802'; }
*/


/*******************************
         Site Overrides
*******************************/

