@import "../../sass/variables.scss";

.header {
  background-color: #b6f5ec;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    margin: 0px auto;
    text-align: center
  }
}
.terminos {
  padding: 100px 250px;
  h4 {
    font-size: 22px;
    color: #4b4b4b;
    margin-bottom: 0px;
    font-weight: 600;
  }
  p, i {
    font-size: 18px;
    margin-bottom: 20px;
    color: #999999;
  }
}
@media(max-width: 769px){
  .terminos {
    padding: 50px 40px ;
  }
}