/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: ProximaNova;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ProximaNovaS";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/ProximaNovaS-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ProximaNova-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/ProximaNova-Bold.ttf") format("truetype");
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

p {
  font-family: ProximaNova;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6rem;
}

b {
  font-weight: 600;
}

button {
  cursor: pointer;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: white;
  font-family: ProximaNova;
  font-size: 18px;
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

button:disabled {
  background-color: #acc7f9;
}

input {
  height: 45px;
  border-top: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: ProximaNova;
  font-size: 18px;
  z-index: 1;
  padding-left: 10px;
  width: 70%;
}

input::placeholder {
  font-family: ProximaNova;
  font-size: 16px;
  color: #4b4b4b;
  margin-left: 20px;
}

input:disabled::placeholder {
  color: #4b4b4b;
}

input:disabled {
  background-color: white;
  border-bottom: 1px solid #4b4b4b;
}

select {
  height: 40px;
  border-top: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  width: 100%;
  font-family: ProximaNova;
  color: #4b4b4b;
}

select:disabled {
  background-color: white;
  border-bottom: 1px solid #4b4b4b;
}

select:disabled option {
  color: #4b4b4b;
}

nav {
  background-color: transparent;
  position: fixed;
  z-index: 100;
}

i {
  font-style: italic;
}

a {
  color: #3074F1;
  text-decoration: none;
}

.form-item {
  position: relative;
}

.form-error {
  position: absolute;
  color: red;
  font-family: ProximaNova;
  font-size: 13px;
  margin-left: 10px;
}

.form-message {
  position: absolute;
  color: black;
  font-family: ProximaNova;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 15px;
}

@media (max-width: 769px) {
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 690px) {
  button {
    width: 120px;
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  p {
    font-size: 14px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }
}

@media (max-width: 566px) {
  .form-item {
    width: 100%;
  }
}

@media (max-width: 321px) {
  input {
    width: 100%;
  }
}
