.jumbotron__container {
  //background-image: url("/images/carbula-header-desktop.webp");
  background-size: cover;
  background-position: bottom;
  background-color: #0b4f9a;
  background-repeat: no-repeat;
  height: 460px;
  padding: 30px 60px;
}
.text__container {
  width: 70%;
  margin: 100px auto;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1px;
  line-height: 1.2;
}
.subtitle {
  color: #fff;
  margin-top: 30px;
}

@media (max-width: 1441px) {
  .title {
    width: 80%;
  }
  .text__container {
    width: 70%;
    margin: 100px 0px 100px 100px;
  }
}
@media (max-width: 1025px) {
}
@media (max-width: 769px) {
  .jumbotron__container {
    height: 640px;
    //background-image: url("/images/carbula-header-mobile.webp");
    background-color: #0b4f9a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    p {
      display: none;
    }
  }
  .title {
    text-align: center;
    margin: 150px auto 0px auto;
    font-size: 40px;
    width: 12em;
  }
}
@media (max-width: 915px) {
  .jumbotron__container {
    padding: 30px 20px;
    background-position-y: 0px;
    height: 520px;
    p {
      display: none;
    }
  }
  .text__container {
    width: 95%;
    margin: 100px auto;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 150px auto 0px auto;
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .jumbotron__container {
    background-position-y: 0px;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 150px auto 0px auto;
    font-size: 20px;
  }
}
@media (max-width: 321px) {
  .jumbotron__container {
    background-position-x: 0px;
    background-position-y: 0px;
    height: 500px;
    p {
      display: none;
    }
  }
  .text__container {
    width: 95%;
  }
}
