@import "../../sass/variables.scss";

.header {
  background-image: url("/images/credito-desktop.webp");
  background-size: cover;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    text-align: center;
     }
}
.buttons__container {
  width: 100%;
  margin: 0px auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  button {
    cursor: pointer;
    width: 320px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: ProximaNova;
    font-size: 18px;
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  }
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  b {
    color: #38ceb3;
  }
}
.financiamiento {
  padding: 50px 250px;
  h2 {
    font-size: 1.5rem;
    color: #999999;
    margin-bottom: 0px;
  }
  p,
  i {
    font-size: 18px;
    margin-bottom: 20px;
    color: #999999;
  }
  @media(max-width: 360px) {
    padding: 1.5rem;
    h2 {
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #999999;
      margin-bottom: 0px;
    }
  }
}
.creditos {
  padding: 100px 250px;
  h4 {
    font-size: 22px;
    color: #999999;
    margin-bottom: 0px;
    font-weight: 600;
  }
  p,
  i {
    font-size: 18px;
    margin-bottom: 20px;
    color: #999999;
  }
}
@media(max-width: 769px){
  .header {
    height: 350px;
    background-image: url("/images/credito-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      font-size: 25px;
      line-height: 1.6rem;
      color: #fff;
      text-align: center;
    }
  }
  .creditos {
    padding: 50px 40px;
  }
}