@import "../../sass/variables";

.footerInfo__container {
  padding: 50px 0px 80px 0px;
  margin: 0px auto;
  width: 80%;
  p {
    margin-top: 20px;
    font-size: 1rem;
    color: #4B4B4B !important;
  }
}
.text__area {
  width: 50%;
}
.elements__container {
  display: flex;
  justify-content: space-between;
  p {
    margin-top: 0px;
  }
}
.buttons__container {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  justify-content: space-around;
}
.social__container--mobile{
  display: none;
}
.social__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
}
.link__container--mobile{
  display: flex;
}
.link__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
  a {
    &:hover {
      text-decoration: underline;
    }
    font-size: 1rem;
    color: #4B4B4B !important;
  }
}
.footerInfo__logo {
  width: 140px;
  margin-bottom: 20px;
}
.social__link {
  display: flex;
  font-size: 1rem;
  color: #4B4B4B !important;
  padding: 2px;
  &:hover {
    text-decoration: underline;
  }
  img {
    width: 20px;
    margin-right: 10px;
  }
}
.grey {
  display: block;
}
.rut__text{
  margin-bottom: 20px;
  font-family: "ProximaNovaS";
  font-size: 1rem;
}
.legal__texts{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 55%;
}
.razon__text{
  margin-top: 0px;
  font-family: "ProximaNovaS";
  font-size: 1rem;
}
.rut__text{
  margin-bottom: 20px;
  font-size: 1rem;
}
@media (max-width: 1441px) {
  .footerInfo__container {
    //margin: 0px 0px 0px 180px;*//
  }
}
@media (max-width: 1025px) {
  .footerInfo__container {
    width: 80%;
    margin: 0px auto;
  }
}
@media screen and (max-width: 767px) {
  .footerInfo__logo {
    width: 100px;
  }
  .legal__texts{
    width: 60%;
  }
}
@media (max-width: 680px){
  .legal__texts{
    width: 80%;
  }
}
@media (max-width: 590px){
  .legal__texts{
    width: 80%;
  }
}
@media screen and (max-width: 426px) {
  .footerInfo__container{
    position: relative;
  }

  @media screen and (max-width: 320px) {
    .footerInfo__container{
      position: relative;
    }
  }
  .elements__container {
    flex-direction: column;
  }
  .text__area{
    width: 100%;
    margin-bottom: 20px;
  }
  .buttons__container{
    flex-direction: row;
    margin-bottom: 20px;
  }
  .social__container{
    display:none;
  }
  .social__container--mobile {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    a {
      text-decoration: none;
    }
    img{
      margin-right: 30px;
    }
  }
  .razon__text{
    font-size: 1rem;
    display: none;
  }
  .rut__text{
    font-size: 1rem;
    display: none;
  }
}
@media (max-width: 320px) {
  .footerInfo__container{
    width: 80%;
  }
  .legal__texts{
    width: 80%;
  }
}