@import "../../sass/variables.scss";

.header {
  background-image: url("/images/como-vender-desktop.webp");
  background-size: cover;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    margin: 0px auto;
    text-align: center;
  }
}
.vender {
  padding: 100px 250px;
  h4 {
    font-size: 22px;
    color: #4b4b4b;
    margin-bottom: 0px;
    font-weight: 600;
  }
  p, i {
    font-size: 18px;
    margin-bottom: 20px;
    color: #999999;
  }
}
@media(max-width: 769px){
  .vender {
    padding: 50px 40px ;
  }
  .header {
    height: 350px;
    background-image: url("/images/como-vender-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      width: 80%;
    }
  }
}