@import "../../sass/variables.scss";

.accordion {
  border-radius: 2px;
  width: 500px;
  margin-top: 80px;
  z-index: 2;
}
.accordion__heading {
  position: relative;
}

.accordion__item + .accordion__item {
  border-top: 1px solid $grey
}

.accordion__button {
  font-size: 18px;
  border-bottom: none;
  color: #b1b1b1;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  outline: none;
  &:focus {
    outline: none;
  }
}

.accordion__button:after {
  float: right;
  margin-top: 5px;
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}
.accordion__button[aria-expanded="true"],
.accordion__button[aria-selected="true"] {
  color: white;
  border-bottom: none;
  font-weight: 700;
}

.accordion__button[aria-expanded="true"]::after,
.accordion__button[aria-selected="true"]::after {
  transform: rotate(45deg);
  color: white;
}

.accordion__panel {
  padding: 0px 20px 20px 20px;
  animation: fadein 0.35s ease-in;
  p {
    color: #b1b1b1;
    font-size: 15px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media (max-width: 1441px) {
  .accordion {
    width: 400px;
  }
}
@media (max-width: 1025px) {
  .accordion__item {
    width: 80%;
  }
}
@media (max-width: 916px) {
  .accordion {
    border-radius: 2px;
    width: 550px;
    margin: 20px auto 80px auto;
  }
  .accordion__item {
    width: 90%;
  }
  .accordion__panel {
    p {
      text-align: left;
    }
  }
}
@media (max-width: 550px) {
  .accordion {
    width: 100%;
  }
}
@media (max-width: 426px) {
  .accordion {
    border-radius: 2px;
    width: 80%;
    margin: 20px auto 80px auto;
  }
  .accordion__button {
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .accordion {
    width: 90%;
  }
}
