.quote__container {
  margin-top: -5px;
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #defff9;
  flex-direction: column;
  img {
    position: absolute;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: left;
    color: #38ceb3;
    width: 960px;
  }
}
.quote__background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/images/banner-comprar-autos.webp');
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.buttons__container {
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  button {
    font-weight: 500;
    width: 320px;
    background-color: #fff;
    color: #3074F1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #fff;
      color: #fff;
      border: 3px solid #38ceb3;
    }
  }
}

@media (max-width: 1025px) {
  .quote__container {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 426px) {
  .quote__container {
    margin-top: -5px;
    position: relative;
    width: 100%;
    height: 320px;
    h3{
      width: 80%;
    }
  }
  .buttons__container {
    margin-top: 220px;
    display: flex;
    justify-content: space-around;
    button {
      font-size: 16px;
      width: 320px;
    }
  }
}
